body {
  background-color: rgba(0,0,0,0.025) !important;
}

.App {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
}

@media(max-width: 767px) {
  .App {
    padding-top: 56px;
    padding-bottom: 0;
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: #ff1c1c !important;
  color: #fff !important;
}

.navbar a {
  color: #fff !important;
}

.card {
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
  border: none !important;
  margin: 3px;
  /* margin-bottom: 15px; */
}

.card:hover {
  box-shadow: 2px 2px 6px rgba(0,0,0,0.15);
}

.pokemon-col {
  padding: 5px !important;
}

.pokemon-col a {
  text-decoration: none !important;
}

.pokemon-list-main-row {
  padding: 7px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.card-title span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
}

.pokemon-nickname {
  color: #ff1c1c !important;
}

.badge {
  font-size: 14px !important;
  padding-bottom: 8px !important;
}